absl-py
astunparse
certifi
charset-normalizer
contourpy
cycler
flatbuffers
fonttools
gast
google-pasta
grpcio
h5py
idna
joblib
keras
kiwisolver
libclang
lz4
Markdown
markdown-it-py
MarkupSafe
matplotlib
mdurl
ml_dtypes
mpi4py
mtcnn
namex
numpy
opencv-python-headless
opt_einsum
optree
packaging
pandas
pillow
protobuf
Pygments
pyparsing
pyserial
python-dateutil
pytz
PyYAML
requests
rich
scikit-learn
scipy
setuptools
six
tensorboard
tensorboard-data-server
tensorflow
termcolor
threadpoolctl
typing_extensions
tzdata
urllib3
Werkzeug
wheel
wrapt
